// app.scss

@import "./mixin.scss";
@import "./variable.scss";

// layout
.main-visual {
  @include flexbox(center, null);
  padding: 7.2rem 10rem 4rem 10rem;
  position: relative;
  overflow: hidden;
  height: calc(var(--vh) * 100);
  @include laptop {
    &::before {
      display: block;
      content: "";
      width: 80%;
      aspect-ratio: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: url("./../images/main_circle_object_fix.svg") no-repeat center /
        100%;
      filter: blur(50px);
      -webkit-filter: blur(50px);
    }
  }
  @include tablet {
    padding: 7.2rem 2.4rem;
  }
  .circle-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    @include laptop {
      display: none;
    }
    .circle {
      position: absolute;
      width: 0;
      height: 0;
      &::before {
        display: block;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) skew(0);
        width: 52.4375em;
        aspect-ratio: 839 / 932;
        filter: blur(50px);
        -webkit-filter: blur(50px);
        background: url("./../images/main_circle_object.svg") no-repeat center /
          100%;
        animation: 25s linear infinite normal forwards running skewCircle;
        transition: transform 0.1s ease-out;
      }
    }
  }
  .title-area {
    width: 100%;
    position: relative;
    @include flexbox(flex-end, null);
    flex-direction: column;
    .main-title {
      @include flexbox(center, center);
      flex: 1;
      gap: 4rem;
      @include tablet {
        flex-direction: column;
        // align-items: flex-start;
        gap: 2rem;
      }
      * {
        font-size: clamp(56px, 12vw, 12rem);
        font-weight: 700;
      }
      .changing-words {
        position: relative;
        @include flexbox(null, center);
        gap: 1.6rem;
        @include tablet {
          gap: 0.4rem;
        }
        &::before {
          display: inline-block;
          content: "<";
        }
        &::after {
          display: inline-block;
          content: "/>";
        }
        .word-wrap {
          position: relative;
          transition: all 0.3s;
          span {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0;
            &.on {
              opacity: 1;
            }
          }
        }
      }
    }
    .bottom-text {
      padding: 0 4rem;
      @include flexbox(space-between, center);
      @include tablet {
        padding: 0;
      }
      > li {
        font-size: 1.2rem;
        font-weight: 700;
      }
    }
  }
  .spin {
    @include same-size(11rem);
    position: absolute;
    left: 6rem;
    bottom: 12rem;
    background: url("./../images/main_spin_object.svg") no-repeat center / 100%;
    animation: spinCircle 7s linear infinite;
    @include tablet {
      @include same-size(10rem);
      bottom: auto;
      left: auto;
      right: 2.4rem;
      top: 12rem;
    }
  }
}
@keyframes skewCircle {
  0% {
    transform: translate(-50%, -50%) skew(0);
  }
  15% {
    transform: translate(-50%, -50%) skew(5deg, 50deg) scale(0.75);
  }
  45% {
    transform: translate(-50%, -50%) skew(0, 20deg) scale(0.9);
  }
  80% {
    transform: translate(-50%, -50%) skew(-15deg, 50deg) scale(1.025);
  }
  95% {
    transform: translate(-50%, -50%) skew(0) scale(1);
  }
}
@keyframes spinCircle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
