// app.scss

@use "./mixin.scss" as *;
@use "./variable.scss" as *;

// layout
.main-visual {
  @include flexbox(center, null);
  padding: 7.2rem 10rem 3.2rem 10rem;
  position: relative;
  overflow: hidden;
  height: calc(var(--vh) * 100);
  @include laptop {
    &::before {
      display: block;
      content: "";
      width: 90%;
      aspect-ratio: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: url("./../images/main_circle_object_fix.svg") no-repeat center /
        100%;
      filter: blur(30px);
      -webkit-filter: blur(30px);
    }
  }
  @include tablet {
    padding: 7.2rem 2.4rem 2.4rem;
  }
  .circle-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    @include laptop {
      display: none;
    }
    .circle {
      position: absolute;
      width: 0;
      height: 0;
      &::before {
        display: block;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) skew(0);
        width: 52.4375em;
        aspect-ratio: 839 / 932;
        filter: blur(50px);
        -webkit-filter: blur(50px);
        background: url("./../images/main_circle_object.svg") no-repeat center /
          100%;
        animation: 25s linear infinite normal forwards running skewCircle;
        transition: transform 0.1s ease-out;
      }
    }
  }
  .title-area {
    width: 100%;
    position: relative;
    @include flexbox(flex-end, null);
    flex-direction: column;
    .main-title {
      @include flexbox(center, center);
      flex: 1;
      gap: 4rem;
      @include tablet {
        flex-direction: column;
        // align-items: flex-start;
        gap: 1rem;
      }
      * {
        font-size: clamp(56px, 12vw, 12rem);
        font-weight: 700;
      }
      .changing-words {
        position: relative;
        @include flexbox(null, center);
        gap: 1.6rem;
        @include tablet {
          gap: 0.4rem;
        }
        &::before {
          display: inline-block;
          content: "<";
        }
        &::after {
          display: inline-block;
          content: "/>";
        }
        .word-wrap {
          position: relative;
          transition: all 0.3s;
          span {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0;
            &.on {
              opacity: 1;
            }
          }
        }
      }
    }
    .bottom-text {
      padding: 0 4rem;
      @include flexbox(space-between, center);
      @include tablet {
        padding: 0;
      }
      > li {
        font-size: 1.2rem;
        font-weight: 700;
      }
    }
  }
  .spin {
    @include same-size(11rem);
    position: absolute;
    left: 6rem;
    bottom: 12rem;
    background: url("./../images/main_spin_object.svg") no-repeat center / 100%;
    animation: spinCircle 7s linear infinite;
    @include tablet {
      @include same-size(10rem);
      bottom: auto;
      left: auto;
      right: 2.4rem;
      top: 12rem;
    }
  }
}
@keyframes skewCircle {
  0% {
    transform: translate(-50%, -50%) skew(0);
  }
  15% {
    transform: translate(-50%, -50%) skew(5deg, 50deg) scale(0.75);
  }
  45% {
    transform: translate(-50%, -50%) skew(0, 20deg) scale(0.9);
  }
  80% {
    transform: translate(-50%, -50%) skew(-15deg, 50deg) scale(1.025);
  }
  95% {
    transform: translate(-50%, -50%) skew(0) scale(1);
  }
}
@keyframes spinCircle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

// 섹션 레이아웃
.section {
  padding: 20rem 0;
  overflow: hidden;
  @include tablet {
    padding: 8rem 0;
  }
  .inner {
    margin: 0 8rem;
    @include laptop {
      margin: 0 2.4rem;
    }
  }
  &-title {
    margin-bottom: 12rem;
    text-align: center;
    @include tablet {
      margin-bottom: 6rem;
      transform-origin: center;
    }
  }
  // tech
  &.tech {
    .tech-card {
      display: flex;
      gap: 2rem;
      @include laptop {
        flex-direction: column;
      }
      > li {
        padding: 3rem;
        background: $white;
        @include radius(1.2rem);
        flex: 1;
        overflow: hidden;
        @include tablet {
          padding: 2rem;
        }
        &:first-child::before {
          background: url("./../images/icon_react.svg") no-repeat center / 100%;
        }
        &:nth-child(2):before {
          background: url("./../images/icon_markup.svg") no-repeat center / 100%;
        }
        &:last-child::before {
          background: url("./../images/icon_chat.svg") no-repeat center / 100%;
        }
        &::before {
          display: block;
          content: "";
          margin-bottom: 4rem;
          @include same-size(6rem);
          @include tablet {
            margin-bottom: 2rem;
            @include same-size(4rem);
          }
        }
        span {
          color: $gray-999;
        }
        h5 {
          margin-bottom: 1.6rem;
          @include tablet {
            margin-bottom: 0.8rem;
          }
        }
      }
    }
  }
  &.works {
    .work-item {
      padding: 0 clamp(2rem, 1vw, 12rem);
      @include laptop {
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 6rem;
      }
      .item {
        @include flexbox(null, center);
        height: calc(var(--vh) * 100);
        gap: clamp(1rem, 3vw, 3%);
        @include laptop {
          height: auto;
          flex-direction: column;
          gap: 0;
        }
        > * {
          flex: 1;
          transition: transform 3s;
          @include laptop {
            transform: none !important;
          }
        }
        .img {
          min-width: 50%;
          transform: translate(-5%, 0) scale(0.8);
          @include laptop {
            position: relative;
            aspect-ratio: 1;
            overflow: hidden;
          }
          img {
            @include laptop {
              width: 100%;
              height: 130%;
              object-fit: cover;
              object-position: top;
              will-change: transform;
            }
          }
        }
        .text {
          padding: clamp(2.4rem, 3vw, 6rem);
          @include flexbox(center, flex-start);
          flex-direction: column;
          -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
          transform: translate(5%, 0) scale(0.8);
          position: relative;
          z-index: 1;
          @include laptop {
            width: 100%;
          }
          @include tablet {
            align-items: initial;
          }
          .project-name {
            font-size: clamp(14px, 1.6vw, 2rem);
            color: $gray-666;
          }
          .title {
            margin: 1.6rem 0 0.8rem;
            @include laptop {
              margin: 1.2rem 0 0;
            }
          }
          .tags {
            display: flex;
            gap: 0.8rem;
            color: $gray-666;
          }
          .btn-round-large {
            margin-top: 6rem;
            @include laptop {
              margin-top: 4rem;
              font-size: 1.6rem;
            }
          }
        }
        // .item.focus
        &.focus {
          .img {
            transform: translate(12%, 0) scale(1);
          }
          .text {
            transform: translate(-12%, 0) scale(1);
            background: rgba(245, 245, 245, 0.6);
          }
        }
        // .item 짝수
        &:nth-child(even) {
          .img {
            transform: translate(5%, 0) scale(0.8);
          }
          .text {
            transform: translate(-5%, 0) scale(0.8);
          }
          &.focus {
            .img {
              transform: translate(-12%, 0) scale(1);
            }
            .text {
              transform: translate(12%, 0) scale(1);
            }
          }
          .img {
            order: 2;
            @include laptop {
              order: initial;
            }
          }
        }
      }
    }
  }
}
