// DetailView.scss

@use "./mixin.scss" as *;
@use "./variable.scss" as *;

.details {
  background: $white;
  section {
    position: relative;
    background-color: $white;
  }
  .visual {
    height: calc(var(--vh) * 100);
    min-height: calc(var(--vh) * 100);
    .bg {
      @include flexbox(null, center);
      padding-left: clamp(24px, 6vw, 10rem);
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      overflow: hidden;
      @include tablet {
        align-items: flex-start;
        padding-top: 12rem;
      }
      .bg-title {
        font-size: clamp(36px, 8vw, 8.8rem);
        font-weight: 700;
        letter-spacing: -1px;
        line-height: 1.4;
      }
    }
  }
  // 각 화면별 배경 이미지
  &.koreanair .bg {
    background-image: url("./../images/work_bg_koreanair.webp");
    @include tablet {
      background-image: url("./../images/work_bg_koreanair_m.webp");
    }
  }
  &.sk-ecoplant .bg {
    background-image: url("./../images/work_bg_sk.webp");
    @include tablet {
      background-image: url("./../images/work_bg_sk_m.webp");
    }
  }
  &.kwangju .bg {
    background-image: url("./../images/work_bg_kwangju.webp");
    @include tablet {
      background-image: url("./../images/work_bg_kwangju_m.webp");
    }
  }
  &.cj .bg {
    background-image: url("./../images/work_bg_cj.webp");
    @include tablet {
      background-image: url("./../images/work_bg_cj_m.webp");
    }
  }
  &.fintech {
    .bg-title {
      color: $white;
    }
    .bg {
      background-image: url("./../images/work_bg_fintech.webp");
      @include tablet {
        background-image: url("./../images/work_bg_fintech_m.webp");
      }
    }
  }
  &.payapp .bg {
    background-image: url("./../images/work_bg_payapp.webp");
    @include tablet {
      background-image: url("./../images/work_bg_payapp_m.webp");
    }
  }
  // 텍스트 영역
  .text {
    padding: 13.6rem 0;
    @include tablet {
      padding: 8rem 2.4rem;
    }
    .text-wrapper {
      margin: 0 auto;
      max-width: 1000px;
    }
    .info {
      margin: 4rem 0 6rem;
      @include flexbox(space-between, null);
      gap: 10rem;
      font-size: clamp(14px, 2vw, 1.6rem);
      @include tablet {
        flex-direction: column;
        gap: 4rem;
      }
      > li {
        flex: 1;
        display: flex;
        flex-direction: column;
        span:last-child {
          margin-top: 1.2rem;
          padding-top: 1.2rem;
          border-top: 2px solid $black;
          color: $gray-666;
        }
      }
    }
    .overview {
      font-size: clamp(14px, 2vw, 1.6rem);
      dt {
        margin-bottom: 2.4rem;
        @include tablet {
          margin-bottom: 1.4rem;
        }
      }
      dd {
        line-height: 1.8;
      }
    }
  }
  // 이미지 영역
  .img {
    .img-wrapper {
      display: flex;
      flex-direction: column;
      gap: 2.8rem;
    }
  }
  // 가이드 문구
  .guide {
    padding: 2.4rem;
    position: relative;
    background: $bg-gray;
    color: $gray-999;
    font-size: 1.2rem;
    @include tablet {
      padding: 1.6rem 2.4rem;
    }
  }
  // 페이지 네비게이션 버튼
  .bottom {
    padding: 4rem 0 10rem;
    @include tablet {
      padding: 4rem 0 6rem;
    }
    .page-nav {
      margin: 0 auto;
      max-width: 1000px;
      @include flexbox(center, null);
      gap: 1.2rem;
      @include tablet {
        padding: 0 2.4rem;
      }
      button {
        font-size: 14px;
        padding: 1.2rem 2.4rem;
        @include bordered(1px, $black);
        @include radius(3rem);
        transition: transform 0.3s;
        span {
          font-weight: 700;
        }
        @include tablet {
          padding: 1.2rem;
          flex: 1;
        }
        &:last-of-type {
          background: $black;
          color: $white;
        }
        &:first-of-type:hover {
          transform: translateX(-20px);
          @include tablet {
            transform: none;
          }
        }
        &:last-of-type:hover {
          transform: translateX(20px);
          @include tablet {
            transform: none;
          }
        }
      }
      button.disabled {
        opacity: 0.3;
        &:hover {
          transform: none;
        }
      }
    }
  }
}
