// footer.scss

@use "./mixin.scss" as *;
@use "./variable.scss" as *;

.footer {
  padding: 8rem;
  background: $black;
  color: $white;
  @include tablet {
    padding: 6rem 2.4rem;
  }
  .top {
    padding-bottom: 1.2rem;
    font-size: clamp(40px, 6vw, 10rem);
    font-weight: 700;
    border-bottom: 1px solid $white;
  }
  .bottom {
    @include flexbox(space-between, center);
    padding-top: 1.2rem;
    font-size: clamp(12px, 2vw, 1.6rem);
    @include tablet {
      display: block;
    }
    * {
      font-weight: 500;
    }
    > ul {
      display: flex;
      gap: 2rem;
    }
  }
}
