// global.scss (공통)

@use "mixin.scss" as *;
@use "variable.scss" as *;
@use "app.scss"; //화면 레이아웃

// fonts
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src: local("Pretendard"),
    url("/fonts/Pretendard-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  src: local("Pretendard"),
    url("/fonts/Pretendard-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  src: local("Pretendard"), url("/fonts/Pretendard-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  src: local("Pretendard"), url("/fonts/Pretendard-Black.woff2") format("woff2");
}

:root {
  font-size: 62.5%;
}

html,
body {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  cursor: none !important;
  @include tablet {
    cursor: auto !important;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  min-height: calc(var(--vh) * 100);
  font-size: clamp(12px, 2vw, 1.6rem);
  line-height: 1.5;
  box-sizing: border-box;
  overflow-x: hidden;
  background: $bg-gray;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  cursor: none !important;
  @include tablet {
    cursor: auto !important;
  }
}

article,
footer,
header,
nav,
section {
  display: block;
}

ul,
ol,
dl {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
select {
  vertical-align: middle;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  font: inherit;
  color: inherit;
  line-height: normal;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a,
button,
[data-hoverable="true"] {
  cursor: none;
  @include tablet {
    cursor: auto;
  }
}

.blind {
  display: block;
  position: absolute;
  left: 1000em;
  top: 0;
  overflow: hidden;
}

// floating button
.floating-top-button {
  position: fixed;
  right: 4rem;
  bottom: 4rem;
  transition: opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;
  z-index: 100;
  @include tablet {
    right: 2rem;
    bottom: 2rem;
  }
  &.active {
    opacity: 1;
    pointer-events: auto;
  }
  .top-button {
    @include same-size(4.8rem);
    background: url("./../images/icon_top_button.svg") no-repeat center / 100%;
  }
}

// 제목 폰트사이즈
h3 {
  font-size: clamp(36px, 5.2vw, 6rem);
  font-weight: 900;
}
h4 {
  font-size: clamp(24px, 3vw, 5.2rem);
  font-weight: 900;
}
h5 {
  font-size: clamp(24px, 3vw, 4rem);
  font-weight: 700;
}

// 버튼
.btn-round-large {
  @include inline-flex-box(center, center);
  padding: 0 4rem;
  height: 4.4rem;
  background: $white;
  @include bordered(1px, $black);
  border-radius: 2.2rem;
  transition: all 0.4s;
  font-weight: 700;
  &:hover,
  &:active,
  &:focus {
    background: $black;
    color: $white;
  }
}

// 모바일 환경에서만 노출
[class*="-m"] {
  display: none;
  @include tablet {
    display: block;
  }
}
