// header.scss

@import "./mixin.scss";
@import "./variable.scss";

.header {
  padding: 0 4rem;
  @include flexbox(space-between, center);
  @include size(100%, 72px);
  position: fixed;
  top: 0;
  left: 0;
  background: $white;
  z-index: 10;

  .logo {
    display: block;
    @include size(3.8rem, 3.4rem);
    background: url("./../images/logo_ya.svg") no-repeat center / 100%;
  }
}
