// intro.scss

@import "./mixin.scss";
@import "./variable.scss";

.intro {
  margin: 0 4rem;
  @include flexbox(center, center);
  flex-direction: column;
  height: calc(var(--vh) * 100);
  background: $bg-gray;
  @include tablet {
    margin: 0 2rem;
  }
  .object {
    @include same-size(7.2rem);
    background: url("./../images/object_intro.svg") no-repeat;
    background-size: 100%;
    @include tablet {
      @include same-size(4rem);
    }
  }
  .user-title {
    margin-top: 2rem;
    display: inline-block;
    outline: none;
    background: $black;
    color: $bg-gray;
    border-radius: 10rem;
    padding: 1.2rem 2.8rem;
    text-transform: uppercase;
    font-size: clamp(16px, 6vw, 6rem);
    font-weight: 700;
    line-height: 1;
    @include tablet {
      padding: 1.2rem;
      margin-top: 1.2rem;
    }
  }
}
