// intro.scss
@import "./mixin.scss";
@import "./variable.scss";

.intro {
  margin: 0 4rem;
  @include flexbox(center, center);
  flex-direction: column;
  height: calc(var(--vh, 1vh) * 100);
  background: $light-gray;
  .object {
    @include same-size(7.2rem);
    background: url("./../images/object_intro.svg") no-repeat;
    background-size: 100%;
  }
  .user-title {
    margin-top: 2rem;
    display: inline-block;
    outline: none;
    background: $black;
    @include bordered(2px, #fffce1);
    color: $light-gray;
    border-radius: 10rem;
    padding: 1.2rem 2.8rem;
    text-transform: uppercase;
    font-size: clamp(30px, 5vw, 6rem);
    font-weight: 700;
    line-height: 1;
  }
}
